$font-stack: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda,
  Verdana, Tahoma, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}












// #playlist-time{
//   float: right;
//   clear: auto;
// }

// #playlist-tag{
//   float:right;
//   clear:auto;
// }
